.master-about {
  background-color: #3e3e3e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.about-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  align-self: flex-start;
}

.mission-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.mission-text{
  line-height: 1.5;
  text-align: left;
  margin-bottom: 2%;
  font-family: "Saira Semi Condensed", sans-serif;
}

.what-we-do {
  width: 80%;
}

.wwo-title{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Orbitron", sans-serif;
}

.offerings-list {
  color: #ffffff;
  list-style-position: outside;
  padding-left: 1.5rem;
  font-family: "saira semi condensed", sans-serif;
}