.master-hero{
  /* margin: 0 5%; */
  /* padding: 10% 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "saira semi condensed", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.hero-logo{
  width: 800px;
  height: 800px;
}

.d2v-hero{
  width: 100%;
}

.hero-title-statement{
 text-align: center;
 margin: 0 5% 5% 0;
 font-size: 3rem;
}

.hero-button:hover{
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0 0 20px #ffffff;
}

@media (max-width: 768px) {
  .master-hero {
    padding: 0 0 10% 0;
    font-size: 1.5rem;
  }

  .hero-title {
    font-size: 3.5rem;
    margin-bottom: 5%;
    
  }

  .hero-button {
    font-size: 1rem;
    padding: 0.2rem 1rem;
    margin-bottom: 15%;
  }
}