.master-hero {
  /* margin: 0 5%; */
  /* padding: 10% 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "saira semi condensed", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.title-case {
  margin: 10% 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
  padding: 5% 5% 0 5%;
}

.hero-logo,
.hero-title-statement {
  flex: 1;
}

.hero-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 5% 0;
  padding: 1%;
  width: 300px;
  height: 300px;
  animation: fade-up-safe 3s ease-out forwards;
  will-change: opacity, transform;
  /* transform: translateY(0); */
}

@keyframes fade-up-safe {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.d2v-hero {
  width: 70%;
}

.hero-title-statement {
  text-align: center;
  /* margin: 0 5% 5% 0; */
  font-size: 3.5rem;
  opacity: 0;
  animation: slide-in-right 0.5s ease-out forwards;
  animation-delay: 1s;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0 0 20px #ffffff;
}

.master-hero h2 {
  width: 80%;
  margin-bottom: 5%;
  opacity: 0;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: #b1b1b1;
  animation: slide-in-right 0.5s ease-out forwards;
  animation-delay: 2s;
}

@media (max-width: 849px) {
  .master-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 10% 0;
    font-size: 1.5rem;
  }

  .master-hero h2 {
    width: 90%;
    font-size: 2rem;
    margin: 0 0 5% 0;
    text-align: center;
  }

  .title-case {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0 2%;
    margin-top: 50%;
  }

  .hero-logo {
    width: 500px;
    height: 500px;
    animation: fade-up-safe 3s ease-out forwards;
    margin: 0 0 50% 0;
  }

  .hero-title-statement {
    font-size: 2.5rem;
    padding: 0.2rem 1rem;
    margin: 0 0 20% 2%;
    animation: slide-in-right 1s ease-out forwards;
    animation-delay: 1.5s; /* comes in after the logo */
  }
}

@media (min-width: 2000px) and (max-width: 2800px) {
  .master-hero {
    font-size: 2.5rem;
    padding-bottom: 5%;
  }

  .hero-logo {
    width: 400px;
    height: 400px;
  }

  .hero-title-statement {
    font-size: 6rem;
  }

  .title-case {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .master-hero h2 {
    font-size: 3rem;
    width: 70%;
  }
}
