html,
body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  background-color: inherit;
}

.master-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projects-title {
  /* align-self: flex-start; */
  color: #00ffff;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 5% 0 5% 0;
  /* font-family: "Orbitron", sans-serif; */
  font-family: "saira semi condensed", sans-serif;
}

.projects-content-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 10%;
  padding: 2rem;
  place-items: center;
  margin-bottom: 15%;
}

.project {
  background-color: #ffffff;
  border-radius: 10px;
  height: 400px;
  width: calc(100% - 2rem);
  max-width: 400px;
  min-width: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.25s ease;
}

.project:hover {
  transform: scale(1.05);
  background-color: #000000;
  border: solid 5px #ffffff;
  color: #ffffff;
}

.project:hover .project-name {
  color: #ffffff;
}

.project-image {
  background-color: #282828;
  width: 90%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 3rem;
    color: #ffffff;
  }
}

.project-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-name {
  color: #000000;
  font-size: 2rem;
  font-family: "saira semi condensed", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .projects-title {
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 10% 0 5% 5%;
  }

  .projects-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 10%;
    width: 80%;
  }

  .project {
    width: 90%;
    height: 400px;
    max-width: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .project:hover {
    transform: none;
    background-color: #ffffff;
    border: none;
    color: #000000;
  }

  .project:hover .project-name,
  .project:hover .project-description {
    color: #000000;
  }

   

  .project.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.tile {
  padding: 0 5%;
  background-color: #ffffff;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: 250px;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  h1 {
    text-align: center;
    width: 80%;
  }
}
